@use './reset';
@use './vars' as *;
@use './tools' as *;
@use './custom';
@use './base';

body {
  background-color: $background-color-1;
}


.page {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    h1 {
      position: relative;
      .bar {
        width: 100%;
        height: 1px;
        background: white;
        position: absolute;
        border-radius: 10px;
      }
    }
    small {
      margin-top: 5px;
    }
  }
}



.Navbar {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  .links {
    align-items: center;
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    transform: translatex(-100%);
    transition: all .5s ease;
    width: 100%;
    .cross {
      background-image: url("../assets/cross.svg");
      background-size: cover;
      height: $icon-size;
      width: $icon-size;
    }
    &.show {
      transform: translatex(0)
    }
  }

  .button {
    background-image: url('../assets/menu.svg');
    background-size: cover;
    height: $icon-size;
    transform: translatex(-100%);
    transition: all .5s ease;
    width: $icon-size;

    &.show {
      transform: translatex(0);
    }
  }
}

canvas {
  
  position: absolute;
  top: 0;
  left: 0;
}